html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  }

header {
    background-color: #ebebeb;
    height: 85px;
    width: 1500px;　/*なんかおかしい*/
}

.logo {
    float: left;
    font-size: 40px;
    padding: 20px;
    padding-left: 250px;
}

header ul {
    list-style: none;
    text-align: right;
}

header li {
    display: inline-block;
    padding: 45px 25px; 
}


.main {
    width: 100%;
    background-color: rgb(255, 255, 255);  
}

.photo  {    
    text-align: auto;
}

.photo_gallery {
    width: 1500px; /*確認*/
    height: 720px;
    background-color: rgb(248, 244, 244);  
}

.portfolio_1,.portholio_2 {
    float: left;
    width: 500px;
    flex-wrap: wrap;
}


.about {
    height: 400px;
    background-color:rgba(183, 204, 204, 0.712);
    margin: auto;
}

.about h1 {
    font-size: 80px;
    flex: center;

}
