html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

h1 {
    opacity: 0.7;
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  }

header {
    z-index: 1;
    background-color: #ebebeb;
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 15px -2px rgb(157, 159, 160);
	position:relative;
}

.logo {
    float: left;
    font-size: 40px;
    padding: 20px;
    padding-left: 100px;
}

header ul {
    list-style: none;
    text-align: right;
}

header li {
    display: inline-block;
    padding: 40px 25px; 
    font-size: 20px;
}


.main {
    width: 100%;
    background-color: rgb(255, 255, 255);  
    text-align: auto;
}

.photo img {    
    width: 100%;
}

.photo_gallery {
    height: 1090px;
    background-color: rgb(248, 244, 244);  
    list-style-type: none;
    flex-wrap: wrap;
}


.portfolio_1,.portholio_2 {  /* 見直し必要 */
    float: left;
    margin: 20px;
    width: 450px;
    
}



.about {
    height: 500px;
    width: 100%;
    background-color:rgba(183, 204, 204, 0.445);
    margin: auto;
    position: relative;
}


.profile img { 
    width: 190px;
    height: auto; 
    position: absolute;
    left: 110px;
    bottom: 160px; 
    border-radius: 50%;
}

.name {
    padding-left: 140px;
    font-size: 30px;
}

.comment {
    width: 50%;
    padding-top: 10px;
    padding-left: 380px;
    overflow-wrap: normal;
    text-align: center;
}

.contact {
    width: 100%;
    height: 250px;
}

.contact {
    text-align: center;
}


.contact a {
    display: inline-block;
    margin-left: 15px;
    font-size: 50px;

}


footer {
    height: 150px;
    width: 100%;
    background-color: #ebebeb;
}

.copyright p {
    font-size: 20px;
    text-align: center;
}